/* General Styles */
body {
  background-color: #f0f0f0;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1 {
  color: #333;
  font-style: oblique;
  margin-top: 80px;
  text-align: center;
}

label {
  color: #555;
  font-size: 14px;
}

/* Button Styling */
button {
  background-color: rgb(100, 100, 100);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

button a {
  color: black;
  text-decoration: none;
}

button[type="submit"] {
  background-color: rgb(255, 46, 46);
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
}

/* Form Inputs */
.input-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="text"] {
  height: 22px;
  margin-right: 5px;
  font-size: 20px;
  padding: 10px;
  width: 60%;
}

input[type="password"] {
  height: 22px;
  margin-right: 5px;
  font-size: 17px;
  padding: 10px;
  width: 60%;
}
/*End of Form Inputs */



/* Layout and Containers */
.container {
  margin: 20px auto;
  max-width: 800px;
}

.signup-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 500px;
  height: 400px;
  padding: 20px;
  position: relative;
  user-select: none;
}

.right-box {
  background-color: rgba(78, 208, 132, 0.859);
  float: right;
  height: 100%;
  width: 50%;
}

/* Header */
header {
  background-color: rgb(100, 100, 100);
  height: 80px;
  left: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
}

header a {
  color: black;
  text-decoration: none;
}
/* End of Header */


/* Navbar */
.navbar {
  background-color: rgb(100, 100, 100);
  overflow: visible;
  position: absolute;
  user-select: none;
  z-index: 9999;
}

.navbar a {
  border-radius: 5px;
  color: white;
  display: inline;
  float: left;
  font-size: 30px;
  min-width: 0px;
  padding: 14px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.navbar a::after {
  background-color: rgb(65, 65, 65);
  bottom: 0;
  content: '';
  height: 4px;
  left: 50%;
  position: absolute;
  transition: width 0.25s ease, left 0.2s ease;
  width: 0;
}

.navbar a:hover::after {
  left: 0;
  width: 100%;
}
/* End of Navbar */



/* Search Bar */
.search-bar {
  margin-bottom: 20px;
  margin-top: 65px;
  text-align: center;
}

.navbar .search-bar a {
  font-size: inherit;
  height: 25px;
  min-width: 0px;
  padding: 0px;
  position: fixed;
  width: 25px;
}

.navbar .search-bar a:hover img {
  transform: rotateY(180deg);
}

.navbar .search-bar a img {
  transition: transform 0.4s ease;
}
/*End of Search Bar */



/* Search Glass Hover & Effects */
.navbar .search-glass {
  height: 25px;
  margin: 0;
  padding: 0;
  width: 25px;
}

.navbar .search-glass:hover {
  background: none;
  color: white;
  text-decoration: none;
}

.navbar .search-glass::after {
  content: none;
}
/* End Of Search Glass Hover & Effects */ 


/* Dropdown */
.dropdown {
  float: left;
  overflow: hidden;
  z-index: 10000;
}

.dropdown .dropbtn {
  background-color: inherit;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: inherit;
  font-size: 30px;
  margin: 0;
  outline: none;
  padding: 14px 16px;
  z-index: 10000;
}

.dropdown .dropbtn::after {
  background-color: rgb(65, 65, 65);
  bottom: 0px;
  content: '';
  height: 5px;
  left: 50%;
  position: absolute;
  transition: width 0.25s ease, left 0.2s ease;
  width: 0;
}

.dropdown:hover .dropbtn::after {
  left: 0;
  width: 100%;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  z-index: 10000;
}
/* End Of Dropdown */ 



/* Dropdown Content */
.dropdown-content {
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 200px;
  overflow: hidden;
  position: absolute;
  z-index: 10001;
}

.dropdown-content a {
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
  color: black;
  display: block;
  float: none;
  height: 70px;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  transition: border-bottom 0.4s;
  z-index: 10000;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-bottom: rgb(65, 65, 65);
  border-radius: 15px;
  z-index: 10001;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 10002;
}

/* End Of Dropdown Content */ 




/* Dropdown Projects */

.dropdown_projects .dropbtn_projects {
  background-color: inherit;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: inherit;
  font-size: 30px;
  margin: 0;
  outline: none;
  padding: 14px 16px;
  z-index: 10000;
}

.dropdown_projects .dropbtn_projects::after {
  background-color: rgb(65, 65, 65);
  bottom: 0px;
  content: '';
  height: 4px;
  left: 50%;
  position: absolute;
  transition: width 0.25s ease, left 0.2s ease;
  width: 0;
}

.dropdown_projects:hover .dropbtn_projects::after {
  left: 0;
  width: 100%;
}

.dropdown_projects:hover .dropbtn_projects {
  background-color: red;
  z-index: 10000;
}

/* Dropdown Content Projects */
.dropdown-content_projects {
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 200px;
  overflow: hidden;
  position: absolute;
  z-index: 10001;
}

.dropdown-content_projects a {
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
  color: black;
  display: block;
  float: none;
  height: 55px;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  transition: border-bottom 0.4s;
  z-index: 10000;
}

.dropdown-content_projects a:hover {
  background-color: #ddd;
  border-bottom: rgb(65, 65, 65);
  border-radius: 15px;
  z-index: 10001;
}

.dropdown_projects:hover .dropdown-content_projects {
  display: block;
  z-index: 10002;
}

/* Language Menu */

.language_menu {
  background-color: inherit;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: inherit;
  font-size: 30px;
  margin: 0;
  outline: none;
  padding: 14px 16px;
  height: auto; /* Change to auto to fit content */
  width: 200px; /* Adjust width as necessary */
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.language_menu a {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.language_menu li {
  padding: 10px;
}

